<p id="notice"><%= notice %></p>

<h1>Kproducts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Size</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kproducts.each do |kproduct| %>
      <tr>
        <td><%= kproduct.name %></td>
        <td><%= kproduct.description %></td>
        <td><%= kproduct.image %></td>
        <td><%= kproduct.size %></td>
        <td><%= kproduct.price %></td>
        <td><%= link_to 'Show', kproduct %></td>
        <td><%= link_to 'Edit', edit_kproduct_path(kproduct) %></td>
        <td><%= link_to 'Destroy', kproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kproduct', new_kproduct_path %>
