<h1>New Product</h1>

<%= render 'form', product: @product %>


<h4>Import new Products from Csv</h4>
  <%=form_tag import_products_path, multipart: true do%>
    <%= file_field_tag :file %>
    <%= submit_tag "import csv"%>
  <% end %>

<%= link_to 'Back', products_path %>
